<div class="contact" id="contact">
    <img src="/assets/contact-cubes.svg" class="hero" alt="">
    <div class="contact__content">
        <h1 class="contact__content__title">Still here? Let's keep in touch  👋</h1>
        <p class="contact__content__text">
            As a reminder, I am seeking an internship opportunity abroad for a duration of 13 weeks. I am eager to gain international experience and expand my knowledge of software development practices in a new cultural setting. As a potential intern, I believe I would bring a fresh perspective and a strong work ethic to your team.
        </p>
    </div>
</div>
<div class="contact__links">
    <div class="link" (click)="goToGithub()">
        <img src="/assets/github.svg" alt=""> 
        <span>Github</span>
    </div>
    <div class="link" (click)="goToLinkedin()">
        <img src="/assets/linkedin.svg" alt=""> 
        <span>Linkedin</span>
    </div>
    <div class="link" (click)="goToGmail()">
        <img src="/assets/gmail.svg" alt=""> 
        <span>Gmail</span>
    </div>
</div>
<footer class="footer">
    <span>Designed & developed with 💚 by Thomas Hamon</span>
</footer>