<div class="professional_experience" id="experience">
    <img src="/assets/memphics_003.svg" class="deco">
    <div class="professional_experience__left">
        <img src="/assets/cube.svg" alt="" class="bg">
        <img src="/assets/cube.svg" alt="" class="move">
        <img src="/assets/cube.svg" alt="" class="front">
    </div>
    <div class="professional_experience__right">
        <h2 class="professional_experience__right__title">
            <span>Professional</span> <span>Experience</span> 
        </h2>
        <div class="experience">
            <div class="experience__title">
                <h3 class="title__company"><strong> Equativ</strong> - Ad tech company</h3>
                <span class="date">Sept. 2021</span>
                <span class="ongoing">On going</span>
            </div>
            <div class="experience__content">
                As a software engineer apprentice at Equativ, 
                I am working on the development of a reporting tool for our ad tech platform. This tool was designed to track key performance metrics & dimensions to provide valuable insights to our clients. 
                Working with an english speaking team of seven in an international context, we use agile methodologies, specifically Scrum, to iterate quickly and deliver high-quality results. 
                My role involve both frontend development using Angular and backend development using C#.
                I have been fully integrated into the roadmap and have had the opportunity to work on building features alongside other engineers.
            </div>
        </div>

        <div class="experience">
            <div class="experience__title">
                <h3 class="title__company"><strong>IRISA</strong> - Research laboratory</h3>
                <span class="date">April 2021 - July 2021</span>
            </div>
            <div class="experience__content">
                As a software engineer at IRISA, a research laboratory, I had to work on a legacy application to make it more scalable and maintainable.
                To achieve this, I used Node.js to rebuild key parts of the application and implement modern development practices. The result was a more reliable and efficient application that could better meet the needs of the researchers at IRISA.
                In addition to enhancing the legacy application, I also had the opportunity to design and develop new features based on the specific needs of the PhDs at the laboratory. This required a deep understanding of their research and the tools and technologies they needed to be successful.
            </div>
        </div>

    </div>
</div>