<div class="project__section" id="project">
    <h2 class="project__section__title">Project</h2>
    <div class="project">
        <div class="project__header">
            <h4 class="project__header__title">Chat application</h4>
            <div class="project__header__tags">
                <div class="tag">Angular</div>
                <div class="tag">SCSS</div>
                <div class="tag">NGRX</div>
                <div class="tag">C#</div>
                <div class="tag">SQL</div>
                <div class="tag">Web Socket</div>
            </div>
        </div>
        <div class="project__img" (click)="goProject()">
        </div>
        <div class="project__description">
            I recently developed a chat application as a side project, using Angular for the frontend and C# for the backend. I utilized WebSockets to enable real-time communication between the client and server, allowing for instant messaging between users.
            The application was designed to be responsive and user-friendly, with a sleek and modern interface. I implemented various features such as the ability to create and join chat rooms, send and receive messages.
        </div>
    </div>

    <div class="project">
        <div class="project__header">
            <h4 class="project__header__title">Connect four game</h4>
            <div class="project__header__tags">
                <div class="tag">Angular</div>
                <div class="tag">SCSS</div>
            </div>
        </div>
        <div class="project__img project__img--connect-four" (click)="goProjectConnectFour()">
        </div>
        <div class="project__description">
           I am currently building a Connect Four game using Angular, utilizing TypeScript and scss for the front-end development. The project features a responsive design that adapts to different screen sizes, to enhance the user experience. Game logic was implemented using Angular services and the game feature 2 players mode.
        </div>
    </div>

    <div class="project">
        <div class="project__header">
            <h4 class="project__header__title">Rock Paper Scissors</h4>
            <div class="project__header__tags">
                <div class="tag">Angular</div>
                <div class="tag">SCSS</div>
            </div>
        </div>
        <div class="project__img project__img--rocks" (click)="goProjectConnectFour()">
        </div>
        <div class="project__description">
            In this project, I used Angular and SCSS to create a simple rock, paper, scissors game. The game allows the user to select their move and then compares it to the computer's randomly generated move. The result of the game is displayed on the screen, and the user has the option to play again. The design of the game is clean and modern, utilizing SCSS for styling. This project was a great opportunity to practice my Angular and SCSS skills.      </div>
    </div>
</div>