<div class="skills" id="skills">
    <h2 class="skills__title">Skills</h2>
    <div class="skills__row">
        <img src="assets/arc.svg" class="arc" alt="">
        <div class="skill">
            <div class="skill__icon">
                <img src="/assets/brackets.svg">
            </div>
            <div class="skill__name">Frontend</div>
            <p class="skill__description">
                Solid understanding of HTML, CSS, and JavaScript, and am proficient in using modern frameworks such as Angular to build interactive and visually appealing web applications.
            </p>
        </div>
        <div class="skill">
            <div class="skill__icon">
                <img src="/assets/data.svg">
            </div>
            <div class="skill__name">Backend</div>
            <p class="skill__description">Strong foundation in creating and maintaining REST APIs. My experience includes building and deploying server-side applications using a variety of technologies, including C# and Node.js.</p>
        </div>
        <div class="skill">
            <div class="skill__icon">
                <img src="/assets/draw.svg">
            </div>
            <div class="skill__name">UI/UX Design</div>
            <p class="skill__description">
                Although UI/UX design is not my primary area of expertise, I have gained some experience in this field through various projects.
                I am proficient in using Figma to create wireframes, and designs.
                <!-- While I am still learning and growing in this field, I am confident in my ability to create intuitive and visually appealing interfaces for web and mobile applications. -->
            </p>
        </div>
    </div>
</div>